h1 {
    margin-bottom: 15px;
}

p {
    border: 1px solid black;
    margin-bottom: 15px;
}

#p1 {
    background-color: rgba(0, 255, 255, 0.849);
    width: 300px;
    height: 300px;
}

#p2 {
    background-color: darkcyan;
    width: 50px;
    height: 50px;
}

@media (min-width: 120px) {
    #p1 {
        width: 80%;
    }
    #p2 {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: 50%;
    }
    #p2 {
        width: 100px;
        height: 100px;
    }
}