* {
    margin: 0;
    padding: 0;
}

body {
    background-color: grey;
}

h1 {
    margin-bottom: 30px;
}

#box1 {
    background-color: hotpink;
    padding: 10px;
    border: 3px solid blueviolet;
    margin: 40px;
    width: 200px;
}

#box2 {
   background-color: skyblue; 
   padding: 10px;
   height: 50px;
   width: 300px;
   margin: 50px;
   overflow: auto;
}

#content {
    background-color: lawngreen;
}